In [1]:
print(5>2)
print(5==2)
print(5<2)

True
False
False

In [2]:
a = 100
b = 99

if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

In [3]:
print(bool("Anel"))
print(bool(17))

True
True

In [5]:
bool("abc")
bool(123)
bool(["a", "b", "c"])

True

In [6]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [7]:
print(1+2)
print((1+2) - (1+2))
print(1 + 2 * 3)
print(1 + 2 - 3 + 4)

3
0
7
4

In [10]:
fruits = ["apple", "banana", "kiwi"]
print(fruits)
print(len(fruits))
print(type(fruits))

['apple', 'banana', 'kiwi']
3
<class 'list'>

In [11]:
vegetables=list(("tomato", "potato", "onion"))
print(vegetables)

['tomato', 'potato', 'onion']

In [12]:
vegetables=list(("tomato", "potato", "onion"))
print(vegetables[1])
print(vegetables[-2])

potato
potato

In [13]:
fruits=["apple", "banana", "cherry", "orange", "kiwi", "melon"]
print(fruits[1:4])

['banana', 'cherry', 'orange']

In [14]:
fruits=["apple", "banana", "cherry", "orange", "kiwi", "melon"]
print(fruits[:4])
print(fruits[1:])
print(fruits[-4:-1])

['apple', 'banana', 'cherry', 'orange']
['banana', 'cherry', 'orange', 'kiwi', 'melon']
['cherry', 'orange', 'kiwi']

In [15]:
fruits=["apple", "banana", "cherry", "orange", "kiwi", "melon"]
if "kiwi" in fruits:
    print("Yes, 'kiwi' is in the fruits list")

Yes, 'kiwi' is in the fruits list

In [16]:
fruits=["apple", "banana", "cherry"]
fruits[1]="kiwi"
print(fruits)

['apple', 'kiwi', 'cherry']

In [17]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "dragonfruct"]
fruits[1:3] = ["melon", "watermelon"]
print(fruits)

['apple', 'melon', 'watermelon', 'orange', 'kiwi', 'dragonfruct']

In [18]:
fruits = ["apple", "banana", "cherry"]
fruits.insert(2, "melon")
print(fruits)

['apple', 'banana', 'melon', 'cherry']

In [19]:
fruits = ["apple", "banana", "cherry"]
fruits.append("kiwi")
print(fruits)

['apple', 'banana', 'cherry', 'kiwi']

In [20]:
fruits = ["apple", "banana", "cherry"]
fruits.pop(1)
print(fruits)

['apple', 'cherry']

In [21]:
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")
print(fruits)

['apple', 'cherry']

In [22]:
fruits = ["apple", "banana", "cherry"]
fruits.pop()
print(fruits)

['apple', 'banana']

In [23]:
fruits = ["apple", "banana", "cherry"]
del fruits[0]
print(fruits)

['banana', 'cherry']

In [25]:
fruits = ["apple", "banana", "cherry"]
fruits.clear()
print(fruits)

[]

In [26]:
fruits = ["apple", "banana", "cherry"]
for i in fruits:
  print(i)

apple
banana
cherry

In [27]:
fruits = ["apple", "banana", "cherry"]
i = 0
while i < len(fruits):
  print(fruits[i])
  i = i + 1

apple
banana
cherry

In [28]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [29]:
fruits = ["orange", "mango", "kiwi", "pineapple", "banana"]
fruits.sort()
print(fruits)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [30]:
mylist = [100, 50, 65, 82, 23]
mylist.sort()
print(mylist)

[23, 50, 65, 82, 100]

In [31]:
fruits = ["banana", "Orange", "Kiwi", "cherry"]
fruits.reverse()
print(fruits)

['cherry', 'Kiwi', 'Orange', 'banana']

In [32]:
fruits = ["banana", "Orange", "Kiwi", "cherry"]
fruits2=fruits.copy()
print(fruits2)

['banana', 'Orange', 'Kiwi', 'cherry']

In [33]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [35]:
tuple = ("apple", "banana", "cherry")
print(tuple)
print(len(tuple))
print(type(tuple))

('apple', 'banana', 'cherry')
3
<class 'tuple'>

In [36]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

In [37]:
tuple = ("apple", "banana", "cherry")
print(tuple[1])
print(tuple[-1])
print(tuple[0:1])
print(tuple[:2])

banana
cherry
('apple',)
('apple', 'banana')

In [43]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [44]:
fruitstuple = ("apple", "banana", "cherry")
for x in fruitstuple:
  print(x)

apple
banana
cherry

In [45]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [46]:
set = {"apple", "banana", "cherry"}
print(set)

{'cherry', 'banana', 'apple'}

In [47]:
set = {"apple", "banana", "cherry"}

for x in set:
  print(x)

cherry
banana
apple

In [48]:
set = {"apple", "banana", "cherry"}

set.add("orange")

print(set)

{'cherry', 'orange', 'banana', 'apple'}

In [49]:
set = {"apple", "banana", "cherry"}

set.remove("banana")

print(set)

{'cherry', 'apple'}

In [50]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 'a', 3, 'b', 'c'}

In [51]:
dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [54]:
dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = dict["model"]
print(x)

Mustang

In [55]:
dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
dict.update({"year": 2020})
print(dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [56]:
dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
dict["color"] = "red"
print(dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [57]:
a = 12
b = 34
if b > a:
  print("b is greater than a")

b is greater than a

In [58]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [59]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [60]:
for x in "banana":
  print(x)

b
a
n
a
n
a